<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f0f0f0;">
    <div>
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/wikipedia_search'">Wikipedia</button>
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/text_search'">Text</button>
    </div>
</body>
</html>
